*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --primary-color: rgba(1, 50, 67, 1);
  --white-color:rgba(255,255,255,1);
  --fade-white-color:rgba(255,255,255,0.6);
  --black-color : :rgba(0,0,0,1);
}